outputs/
_debug.*
.venv/
__pycache__/
archive/
*.bak

/manuscripts/incoming/
/manuscripts/staging/

# Local publish logs
publication/_reports/last_publish_log.txt


# LibreOffice lock files
.~lock.*#
